.search-by {
  ul {
    display: flex;
    gap: 2rem;
    text-transform: capitalize;

    * {
      display: block;
      padding: 1rem;
    }

    > :not(.active):hover {
      display: block;
      padding: 1rem;
      background-color: #eeeeee9c;
      border-radius: 30px;
      cursor: pointer;
    }

    li.active {
      display: block;
      font-weight: 600;
    }
  }
}
