.user-profile {
  .profile-guest {
    &::after {
      content: "\F4D7";
      font-family: "Bootstrap-icons";
      font-size: 32px;
      color: #000;
    }
    &:hover::after {
      cursor: pointer;
    }
    img {
      display: block;
      width: 25px;
      height: 25px;
    }
  }
}
