.user-profile {
  display: block;
  padding: 5px 0;
  .profile-guest {
    display: block;
    &::after {
      content: "\F4D7";
      font-family: "Bootstrap-icons";
      font-size: 32px;
      color: #000;
    }
    &:hover::after {
      cursor: pointer;
    }
  }
  img {
    display: block;
    width: 42px;
    height: 42px;

    border-radius: 50%;
  }
}
